aws_region        = "us-east-1"
project_name      = "book-review"
environment       = "production"
my_ip             = "YOUR_PUBLIC_IP/32"
key_pair_name     = "your_aws_key_pair_name"
db_username       = "admin"
db_password       = "your_strong_db_password"
jwt_secret        = "your_jwt_secret_here"
instance_type_web = "t3.micro"
instance_type_app = "t3.micro"
db_instance_class = "db.t3.micro"
